
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: black;
  }
  h3{
    color: white;
  }
.red{
    color: rgb(230, 83, 60);
}
.size{
    font-size: 45px;
}
  .container{
    max-width: 1060px;
    margin: 0 auto;
  }
  .btn-one{
    padding: 16px 40px 16px 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
   font-weight: 600;
   cursor: pointer;
    }

  /* banner section  */
  #banner{
padding-top:50px;
background: linear-gradient(180.00deg,rgb(17,17,17),rgba(119,119,119,0.1) 100%);

height: 750px;

  }
  .navbar{
  display: flex;
  justify-content: space-between;
    align-items: center;
  }
.navbar .nav-logo h2{
color:rgb(230, 83, 60) ;
font-size: 35px;
font-weight: 800;
font-style: italic;
}
.nav-menu{
 
  border:1px solid rgba(255, 255, 255, 0.1) ;
  border-radius: 39px;
}
.nav-link{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-link li a{
    text-decoration: none;
    padding-left: 22px;
    padding-right: 22px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}
.nav-link li:first-child{
    padding: 8px 12px 8px 12px;
    border-radius: 39px;
    background-color:rgb(230, 83, 60) ; 
}



.bar{
    display:none;
}
/* navbar end */
#banner .banner-main{
    padding-top: 50px;
  display: flex;
  align-items: center;
 
}
#banner .banner-main .banner-left{
width: 50%;
}
#banner .banner-main .banner-left h1{
color: rgb(255, 255, 255);
font-size: 75px;
font-weight: 900;
line-height: 120%;
}
.span-mia{
font-family: 'Miama', sans-serif;
font-size: 200%;
font-weight:400;                                                
}
#banner .banner-main .banner-left p{

    color:rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 25px;
    padding-bottom: 25px;
}


#banner .banner-main .banner-left .btn-two{
    padding: 16px 40px 16px 40px;
    border: 1px solid rgb(255, 255, 255);
    background-color:transparent;
    border-radius: 42px;
   
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding-left: 15px;
    cursor: pointer;
}
#banner .banner-main .banner-right{
    
width:50%;
height: 580px;
background: url(../images/banner.png) no-repeat center / contain;
position: relative;
}
#banner .banner-main .banner-right .right-top{
height: 98px;
width: 193px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(20px);
text-align: center;
align-items: center;
justify-content: center;
position: absolute;
top: 100px;
right: 0;
}

#banner .banner-main .banner-right .right-top h3{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    list-style: 40px;
    padding-top: 10px;
}
#banner .banner-main .banner-right .right-top p{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    list-style: 20px;
    padding-top: 5px;
}

#banner .banner-main .banner-right .right-buttom{
    height: 98px;
    width: 193px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    }
#banner .banner-main .banner-right .right-buttom .red-circle{
   height: 40px;
   width: 40px;
   line-height: 40px;
   border-radius: 50%;
   background-color: rgb(230, 83, 60);
    }
    #banner .banner-main .banner-right .right-buttom .red-circle i{
        display: none;
    }
#banner .banner-main .banner-right .right-buttom h3{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
    list-style: 24px;
    }
#banner .banner-main .banner-right .right-buttom p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    list-style: 20px;
    padding-top: 5px;}
/* banner section end */
.habbit{
    margin-top: 100px;
    text-align: center;
}

.habbit  .habbit-top h2{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}
.habbit  .habbit-top p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 14px;
    text-align: center;
}
.habbit .habbit-img{
    margin-top: 50px;
   display: flex;
   justify-content: space-between;

}
.habbit .habbit-img .habbit-card{
    width: 23%;
    height: 275px;
    text-align: center;
}
.habbit .habbit-img .habbit-card img{
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5) ;

}
.habbit .habbit-img .habbit-card h4{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    padding-top: 25px;
}
.habbit .habbit-img .habbit-card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 6px;
}
/* habbit section end */

.run-section{
    margin-top: 100px;
    background-color: rgb(34, 34, 34);
 padding-top: 50px;
 padding-bottom: 30px;
 padding-right: 50px;
 padding-left: 30px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 165px;
   
}
.run-section .run-left{
    width: 50%;
    
}
.run-section .run-left h2{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 900;
    line-height: 120%;
    padding-right: 50px;
}
.run-section .run-left p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 14px;
    padding-bottom: 30px;
}
.run-section .run-left button{
    width: 50%;
 }
.run-section .run-right{
    width: 50%;
   
}
.run-section .run-right img{
    width: 100%;
    border-radius: 18px;
    
}
/* run section end */
/* calculator section */
.calculator{
    margin-top: 88px;
    margin-bottom: 88px;
    
}
.calculator .calculator-top{
    
   text-align: center;
    
}
.calculator .calculator-top h2{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 900;
    line-height: 120%;
}
.calculator .calculator-top p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 14px;
    padding-left: 360px;
    padding-right: 100px;
    text-align: left;
    
    
}
.calculator-body{
   padding-top: 50px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 20px;
   background-color: rgb(34, 34, 34);
   
}
.calculator-table{
    display: flex;
    justify-content: center;
}
.calculator-table .table-chart{
   width: 50%;
   
}
.calculator-table .table-chart h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height:
     120%;
     padding-bottom: 50px;
}
.calculator-table .table-chart table{
    border-collapse:collapse ;
    border:1px solid rgba(255, 255, 255, 0.1) ;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.calculator-table .table-chart table thead{
    font-size: 16px;
    font-weight: 500;
}
.calculator-table .table-chart table th, td{
    padding: 15px;
    border:1px solid rgba(255, 255, 255, 0.1) ;
    text-align: left;
    
}

.calculator-table .table-calculate{
 width: 50%;

}
.calculator-table .table-calculate h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height:
     120%;
     padding-bottom: 14px;
}
.calculator-table .table-calculate p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 35px;
}

.calculator-table .table-calculate form{
   display: flex;
 flex-wrap: wrap;
 flex-direction: column;
   }
.calculator-table .table-calculate form .input-group{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-top: 10px;
   }
 form .input-group input, form .input-group select{
   height: 48px;
   width:48%;
   border-radius: 8px;
   background-color: rgba(255, 255, 255, 0.1); 
   border: none;
   font-size: 16px;
   color: rgb(255, 255, 255);
   padding: 12px 40px 12px 20px;
   }
   form .full-width{
    width: 100%;
   }
 
 .full-width .input-group select{
        width: 100%;
      margin-bottom: 30px;
    }
    .calculator-table .table-calculate form button{
        width: 50%;
        
    }

   .calculator-table .table-calculate form input::placeholder, select::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
   }
   .calculator-table .table-calculate form input:focus, select:focus{
    outline: none;
    
   }

/* pricing section */
.pricing{
    padding-top: 80px;
}
.pricing .pricing-top{
    text-align: center;
}

.pricing .pricing-top h5{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; 
}
.pricing .pricing-top p{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 900;
    line-height:
     120%;
}

.pricing-main{
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.pricing-main .pricing-card{
    text-align: center;
width: 23%;
background-color: rgb(34, 34, 34);
border-radius: 18px;
padding: 20px 10px 20px 10px;
box-shadow:
    inset 0 -3em 3em rgb(34 34 34 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(230 83 60 / 40%);
    cursor: pointer;
}
.pricing-main .pricing-card h2{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15px;
}
.pricing-main .pricing-card h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    padding-bottom: 20px;
   
}
.pricing-main .pricing-card ul{
   list-style: none;
 
}
.pricing-main .pricing-card ul li{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.615);
    padding-bottom: 20px;
 
}

/* our-team section */

.our-team{
    margin-top: 100px;
}
.our-team .team-text{
  text-align: center;
}
.our-team .team-text h2{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 900;
    line-height:
     120%;
}
.our-team .team-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 14px;
}
.our-team .team-main{
   margin-top: 50px;
   padding: 20px 20px 20px 20px;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 18px;
   display: flex;
   justify-content: space-between;
  flex-wrap: wrap;
}
.our-team .team-main .trainer1, .trainer2, .trainer3,.trainer4,.trainer5 ,.trainer6{
   width: 32%;
   height: 272px;
   border-radius: 18px;
   border-radius: 18px;
   position: relative;
   margin-top: 15px;
}
.our-team .team-main .trainer1{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ),url(../images/trainer1.png) no-repeat center / cover ;
 }
 .our-team .team-main .trainer2{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ),url(../images/trainer2.png) no-repeat center / cover ; 
 }
.our-team .team-main .trainer3{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ),url(../images/trainer3.png) no-repeat center / cover ; 
 }
.our-team .team-main .trainer4{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ),url(../images/trainer4.png) no-repeat center / cover ; 
 }
.our-team .team-main .trainer5{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ),url(../images/trainer5.png) no-repeat center / cover ; 
 }
.our-team .team-main .trainer6{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ),url(../images/trainer6.png) no-repeat center / cover ; 
 }

.our-team .team-main .trainer1 .name, .trainer2 .name, .trainer3 .name, .trainer4 .name ,.trainer5 .name, .trainer6 .name{
position: absolute;
left: 20px;
bottom:35px;
}
.our-team .team-main .name h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}
.our-team .team-main  .name p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}





/*  responsive */
/* for mobile device */
@media screen  and (max-width:576px){
   #banner{
    padding-left: 10px;
    padding-right: 10px;
   }
    .nav-menu{
        display: none;
    }
    .bar{
        display:block;
    }
    .bar i{
        color: white;
        font-size: 20px;
    }
    #banner .banner-main{
        padding-top: 50px;
      display: flex;
      flex-direction: column;
     text-align: left;
     
    }
    #banner .banner-main .banner-left{
        width: 100%;
        }
    #banner .banner-main .banner-left h1{
        font-size: 36px;
        font-weight: 900;
        line-height: 120%;
        padding-right: 68px;
        }

        #banner .banner-main .banner-left p{
          padding-right: 78px;  
          padding-top: 25px;
        }
        #banner .banner-main .banner-left .btn{
            display: flex;
        }
        #banner .banner-main .banner-left  .btn-one{
            margin-right: 10px;         
        }
        #banner .banner-main .banner-right{
            width: 100%;
        }

        #banner .banner-main .banner-right .right-top{
            width: 146px;
            height: 75px;
        }
        #banner .banner-main .banner-right .right-top h3{
            font-size: 30px;
           
        }
        #banner .banner-main .banner-right .right-top p{
            font-size: 11px;
        }
        #banner .banner-main .banner-right .right-buttom{
            height: 73px;
            width: 155px;
            bottom: 200px;
        }
        #banner .banner-main .banner-right .right-buttom h3{
            font-size: 18px;
        }

        #banner .banner-main .banner-right .right-buttom p{
            font-size: 12px;
        }
        #banner .banner-main .banner-right .right-buttom .red-circle i{
            display: inline-block;
            text-align: center;
            line-height: 40px;
            color: rgb(255, 255, 255);
            font-size: 15px;
        }
        /* banner section end */
        /* habbit section */
        .habbit{
            margin-top: 350px;
            text-align: center;
        }
        .habbit  .habbit-top h2{
            font-size: 32px;
        }
        .habbit .habbit-img{
            margin-top: 30px;
           display: flex;
           flex-direction: column;
        
        }
        .habbit .habbit-img .habbit-card{
            width: 100%;
            padding-left: 53px;
            padding-right: 53px;
            margin-top: 25px;
        }
        /* habbit section end */
        .run-section{
            padding-top: 25px;
            flex-direction: column;
            gap: 15px;
           
        }
        .run-section .run-left{
            width: 100%;
            justify-content: center;
        }
        .run-section .run-left h2{
           font-size: 32px;
        }
        .run-section .run-left p{
           font-size: 14px;
           padding-top: 14px;
           padding-bottom: 14px;
        }
        .run-section .run-left button{
           width: 100%;
        }
        .run-section .run-right{
            width: 100%;
        }
        /* calulator section */
        .calculator{
            margin-top: 50px;
            margin-bottom: 50px;
            
        }
        .calculator .calculator-top{
            
           text-align: left;
           padding-right: 10px;
           padding-left: 10px;
            
        }
        .calculator .calculator-top h2{
           
            font-size: 32px;
 
        }
        .calculator .calculator-top p{
           
            padding-left: 0px;
            padding-right: 0px;
           
        }
        .calculator-body{
            padding-top: 50px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 20px;
  
            
         }
         .calculator-table{
          flex-direction: column;
          gap: 20px;
         }
      
        .calculator-table .table-chart{
           width: 100%;
           
        }
        .calculator-table .table-chart h3{
            font-size: 16px;
            padding-bottom: 20px;
        }

        
.calculator-table .table-calculate{
    width: 100%;
   
   }
   .calculator-table .table-calculate h3{
     
       font-size: 16px;
      
   }
   .calculator-table .table-calculate p{

       padding-bottom: 35px;
   }

   /* pricing section */
   .pricing .pricing-top h5{
    
    font-size: 15px;
    
}
.pricing .pricing-top p{
   
    font-size: 28px;
    
}
.pricing-main{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 15px;
    }
    
.pricing-main .pricing-card{
    width: 97%;
}

/* our team section */
.our-team{
    margin-top: 60px;
}

.our-team .team-text h2{

    font-size: 32px; 
}
.our-team .team-main{
    flex-direction: column;
}
.our-team .team-main .trainer1, .trainer2, .trainer3,.trainer4,.trainer5 ,.trainer6{
width: 97%;
}
.trainer1,.trainer4{
    display: none;
}
    

}
